.container {
  height: 400px;
  width: 400px;
}

.container2 {
  height: 400px;
  width: 400px;
}

.container3 {
  background: #25455e;
  color: #fffefe;
  font-family: Arial, san-serif;
}

.search__container {
  padding-top: 64px;
}
.search__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #f8230f;
}
.search__input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.search__input::placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.search__input:hover, .search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.credits__container {
  margin-top: 24px;
}
.credits__text {
  text-align: center;
  font-size: 13px;
  line-height: 18px;
}
.credits__link {
  color: #f8230f;
  text-decoration: none;
  transition: color 250ms ease-in;
}
.credits__link:hover, .credits__link:focus {
  color: color(#f8230f blackness(25%));
}

textarea, .formularios input {
  font-size: 1em;
}

.formularios {
  border: 1px solid #2a12f0;
  background: #878787;
  width: 500px;
  padding: 2em;
  border-radius: 20px;
  position: absolute;
  color: #000000;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.formularios input {
  border: 1px solid #000000;
  border-radius: 5px;
}

.formularios.label {
  display: block;
  background: #339b28;
}

.formularios.label:first {
  color: #000000;
}

textarea, .formularios input {
  color: #000000;
}

*:focus {
  outline: none;
}

.formulario:first-child div {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.formulario:first-child div fieldset div {
  margin-top: 15px;
}

.formulario:first-child div fieldset input,
.formulario:first-child div fieldset textarea {
  border: 1px #00bcd4 solid;
  border-radius: 5px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.1);
  color: #00bcd4;
}

.formulario:first-child div fieldset input:focus,
.formulario:first-child div fieldset textarea:focus {
  background: white;
  color: black;
}

.formulario:first-child div fieldset .submit {
  text-decoration: none;
  padding: 12px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  background-color: #00bcd4;
  border-radius: 20px;
  border: 2px solid #2196f3;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.formulario:first-child div fieldset .submit:hover {
  color: #2196f3;
  background-color: #ffffff;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
